body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

#searchArea {
	height: 100vh;
	width:  100vw;
}

#searchArea-content {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

#logo {
	background-color: red;
	height: 100px;
	width:  500px;
	left: 0;
	top:  0;
	position: absolute;
	align-self: flex-start;
}

#searchForm {

}

#map {
	background-image: url('../images/map.jpg');
	width:  100%;
	height: 100%;
	position: absolute;
	top:  0;
	left: 0;
	z-index: -1;
}

#panelArea {
	background-color: blue;
	height: 100%;
}
