*.DS_Store
node_modules/
dist/
bower_components/
package-lock.json
.tmp/

####################
# DEPLOYMENT FILES #
####################

# ignore the token for github deployment
deploy-tokens.php
# ignore the executed commands (security reason)
deploy-commands.php
