<div id='searchArea'>
	<div id='searchArea-content'>
		<div id='logo'></div>
		<div>
			<form id='searchForm'>
				<div id="visit">
					<button
						class='input-visit'
						type="submit"
						[style.opacity]="allowVisit ? '1' : '0'"
						[style.visibility]="allowVisit ? 'visible' : 'hidden'"
						[ngClass]="{'hide' : !allowVisit}"
						(click)="onVisit()"
						>
							Visiter {{cityName}}
					</button>
				</div>
				<div id="search">
					<input
						id="input-city"
						class='input-field'
						type="text"
						name="city"
						[(ngModel)]="cityName"
						(input)="onUpdateCity()"
						#search
						autofocus
					>
					<button
						class='input-search searchBtn'
						type="submit"
						(click)="onSearch()"
					></button>
				</div>
			</form>
		</div>
	</div>
	<agm-map id="map"
		[styles]="googleMapsStyle"
		[scrollwheel]="false"
		[zoomControl]="false"
		[streetViewControl]="false"
		[latitude]="latitude"
		[longitude]="longitude"
		[fitBounds]="bounds">
	</agm-map>
</div>
