<section ng-controller='mainCtrl'>
	<div id='searchArea'>
		<div id='searchArea-content'>
			<div id='logo'></div>
			<div>
				<form id='searchForm'>
					<div id="search">
						<input class='input-field' type="text" ng-model="city.name" ng-change="change()" placeholder="Ville" autofocus>
						<button class='input-search' type="submit" ng-click="search(city)"><div class="searchBtn"></div></button>
					</div>
					<div id="visit">
						<button class='input-visit' ng-show="allowVisit" type="submit" ng-click="visit(city)">Visiter {{city.name}}</button>
					</div>
				</form>
			</div>
		</div>
		<div id='map'></div>
	</div>
	<div id='panelArea' ng-show='havePanel()'>
		Panneau
	</div>
</section>
