<section ng-controller='mainCtrl'>
	{{city}}
	<div id='searchArea'>
		<div id='searchArea-content'>
			<div id='logo'></div>
			<div>
				<form id='searchForm'>
					<div id="search">
						<input id="input-city" class='input-field' type="text" ng-model="city" ng-change="change()" autofocus>
						<button class='input-search' type="submit"><div class="searchBtn"></div></button>
					</div>
					<div id="visit">
						<button
							class='input-visit'
							ng-show="allowVisit"
							type="submit"
							ng-click="visit(city)"
							>
								Visiter {{city}}
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id='map'></div>
	</div>
	<div id='panelArea' ng-show='havePanel()'>
		Panneau
	</div>
</section>
