<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
	
  </h4>Lorem</h4>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper vel tortor sed tincidunt. Pellentesque ligula mi, sagittis at volutpat at, lobortis a arcu. Nam eu cursus neque. Cras eget varius nibh. Nullam consequat quam in diam imperdiet vestibulum. Sed ipsum velit, mollis ut tempus a, aliquam eget mauris. Ut a erat augue. Praesent congue hendrerit aliquet. Suspendisse maximus ut leo vel suscipit. Ut elementum lacus a porta pretium. Nam id nunc vel ante tincidunt consequat sit amet id ex. Mauris id pharetra neque. Vivamus et tincidunt mi. Curabitur lobortis arcu felis, vel blandit eros aliquet sit amet. Curabitur in justo quis dui blandit tincidunt. Donec tincidunt, lacus id sagittis feugiat, neque purus aliquet est, ac finibus quam nisi in nisi.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper vel tortor sed tincidunt. Pellentesque ligula mi, sagittis at volutpat at, lobortis a arcu. Nam eu cursus neque. Cras eget varius nibh. Nullam consequat quam in diam imperdiet vestibulum. Sed ipsum velit, mollis ut tempus a, aliquam eget mauris. Ut a erat augue. Praesent congue hendrerit aliquet. Suspendisse maximus ut leo vel suscipit. Ut elementum lacus a porta pretium. Nam id nunc vel ante tincidunt consequat sit amet id ex. Mauris id pharetra neque. Vivamus et tincidunt mi. Curabitur lobortis arcu felis, vel blandit eros aliquet sit amet. Curabitur in justo quis dui blandit tincidunt. Donec tincidunt, lacus id sagittis feugiat, neque purus aliquet est, ac finibus quam nisi in nisi.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper vel tortor sed tincidunt. Pellentesque ligula mi, sagittis at volutpat at, lobortis a arcu. Nam eu cursus neque. Cras eget varius nibh. Nullam consequat quam in diam imperdiet vestibulum. Sed ipsum velit, mollis ut tempus a, aliquam eget mauris. Ut a erat augue. Praesent congue hendrerit aliquet. Suspendisse maximus ut leo vel suscipit. Ut elementum lacus a porta pretium. Nam id nunc vel ante tincidunt consequat sit amet id ex. Mauris id pharetra neque. Vivamus et tincidunt mi. Curabitur lobortis arcu felis, vel blandit eros aliquet sit amet. Curabitur in justo quis dui blandit tincidunt. Donec tincidunt, lacus id sagittis feugiat, neque purus aliquet est, ac finibus quam nisi in nisi.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper vel tortor sed tincidunt. Pellentesque ligula mi, sagittis at volutpat at, lobortis a arcu. Nam eu cursus neque. Cras eget varius nibh. Nullam consequat quam in diam imperdiet vestibulum. Sed ipsum velit, mollis ut tempus a, aliquam eget mauris. Ut a erat augue. Praesent congue hendrerit aliquet. Suspendisse maximus ut leo vel suscipit. Ut elementum lacus a porta pretium. Nam id nunc vel ante tincidunt consequat sit amet id ex. Mauris id pharetra neque. Vivamus et tincidunt mi. Curabitur lobortis arcu felis, vel blandit eros aliquet sit amet. Curabitur in justo quis dui blandit tincidunt. Donec tincidunt, lacus id sagittis feugiat, neque purus aliquet est, ac finibus quam nisi in nisi.
</div>
