<div id="SimpleSmoothScroll"></div>
<div id='panelArea' class="panelArea" [hidden]="!showPanel">
	<div id="title-area" (click)='returnSearch()'>
		{{cityName}}
	</div>
	<div id="module-area">
		<div class="module instagram" [style.height.px]="instagramH">
			<div class="module-title">Instagram</div>
			<div class="module-content">
				<div class="pictures">
					<div class="picture" *ngFor="let picture of instagram.pictures">
						<a href="{{picture.link}}" target="_blank">
							<img src="{{picture.imageURL}}" alt='Photo Instagram de {{cityName}}'>
						</a>
					</div>
				</div>
				<div class="scrollable"></div>
			</div>
		</div>
		<div class="module weather" #weatherM>
			<div class="module-title">Méteo</div>
			<div class="module-content">
				<div class="weather-content">
					<div class="weather-actual">
						<div class="weather-image">
							<img src='{{weather.actual?.image}}' alt='{{weather.actual?.desc}}'/>
						</div>
						<div>
							<div class="weather-temp">{{weather.actual?.temp}}°C</div>
							<div class="weather-desc">{{weather.actual?.desc}}</div>
						</div>
					</div>
					<div class="weather-forecasts">
						<div class="weather-forecast" *ngFor="let forecast of weather.forecasts">
							<div class="weather-day">{{forecast?.date}}</div>
							<div class="weather-image">
								<img src='{{forecast?.image}}' alt='Prévision pour {{forecast?.date}}'/>
							</div>
							<div class="weather-temp">{{forecast?.temp}}°C</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="module twitter" [style.height.px]="wikipediaH">
			<div class="module-title">Twitter</div>
			<div class="module-content">
				<div class="tweets">
					<div class="tweet" *ngFor="let tweet of twitter.tweets">
						<div class="tweet-header">
							<div class="tweet-header-pic">
								<a href="{{tweet.userURL}}" target="_blank">
									<img src="{{tweet.picture}}" alt='Photo de profil de {{tweet.name}}'>
								</a>
							</div>
							<div class="tweet-header-info">
								<div class="tweet-header-info-name">{{tweet.tweetName}}</div>
								<div class="tweet-header-info-more">
									<span [innerHTML]="tweet.name"></span>
									 ·
									<span [innerHTML]="tweet.date"></span>
								</div>
							</div>
						</div>
						<div class="tweet-content" [innerHTML]="tweet.text | linky:{stripPrefix: false,mention:'twitter',hashtag:'twitter'}"></div>
						<div class="tweet-sharing">
							<div class="tweet-retweets">{{tweet.retweets}}</div>
							<div class="tweet-likes">{{tweet.likes}}</div>
						</div>
					</div>
				</div>
				<div class="scrollable"></div>
			</div>
		</div>
		<div class="module wikipedia" boundSensor>
			<div class="module-title">Informations</div>
			<div class="module-content">
				<div class="wikipedia-image">
					<img src="{{wikipedia.imageURL}}" alt="Wikipedia image for {{cityName}}"/>
					{{wikipedia.imageDesc}}
				</div>
				<div class="wikipedia-description">
					{{wikipedia.description}}
				</div>
				<div class="wikipedia-infos">
					<ul>
						<li *ngFor="let value of wikipedia.informations">
							<div class="wikipedia-infos-name">{{value.name}} :</div>
							<div class="wikipedia-infos-content">> {{value.content}}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="module map" #mapM>
			<div class="module-title">Carte</div>
			<div class="module-content">
				<agm-map class="module-map"
						[latitude]="lat"
						[longitude]="lng"
						[fitBounds]="bounds">
						<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>
			</div>
		</div>
		<div class="module cinema" #cinemaM>
			<div class="module-title">Cinéma</div>
			<div class="module-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius finibus velit, non eleifend enim venenatis quis. In vitae elementum enim, quis aliquam nisi. Donec et iaculis metus, non pulvinar elit. Aenean nisl sem, finibus ac lobortis at, dapibus tempor nisi. Donec quis eros purus. Integer vel lectus pellentesque, dictum ex nec, tristique tortor.
			</div>
		</div>
	</div>
</div>
