#panelArea {
	background-color: #eeeeee;
	width: 100%;
	min-height: 100vh;
	font-family: "Open Sans";
}

#title-area {
	cursor: pointer;
	position: sticky;
	top: 0px;
	z-index: 100;
	min-width: 100%;
	padding-left: 20px;
	box-sizing: border-box;
	background-color: #ffffff;
	font-size: 20pt;
	border-bottom: 1px solid #d5d5d5;
	height: 40px;
}

#module-area {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	padding: 5px;

	--color-twitter:   #1da1f2;
	--color-weather:   #00cd82;
	--color-instagram: #c930db;
	--color-wikipedia: #818181;
	--color-map:       #544741;
	--color-cinema:    #e01c28;
}

@media (max-width: 640px) {
	#module-area {
		display: flex;
		flex-direction: column;
	}
}

.module {
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 3px;
	margin: 5px;
	min-height: 100px;
	min-width: 100px;
}

.module-title {
	position: sticky;
	top: 0;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: 200;
	font-size: 16pt;
}

.module-content {
	margin: 5px;
}

.twitter {
	overflow: scroll;
	border-color: var(--color-twitter);
}

.twitter > .module-title {
	background-color: var(--color-twitter);
}

.weather {
	border-color: var(--color-weather);
}

.weather > .module-title {
	background-color: var(--color-weather);
}

.instagram {
	border-color: var(--color-instagram);
}

.instagram > .module-title {
	background-color: var(--color-instagram);
}

.wikipedia {
	border-color: var(--color-wikipedia);
}

.wikipedia > .module-title {
	background-color: var(--color-wikipedia);
}

.map {
	border-color: var(--color-map);
}

.map > .module-title {
	background-color: var(--color-map);
}

.cinema {
	border-color: var(--color-cinema);
}

.cinema > .module-title {
	background-color: var(--color-cinema);
}

@media (max-width: 640px) {
	#module-area {
		flex-direction: column;
	}
	.module {

	}
	.wikipedia {
		order: 3;
	}
	.weather {
		order: 1;
	}
	.map {
		order: 2;
	}
	.instagram {
		order: 4;
	}
	.cinema {
		order: 5;
	}
	.twitter {
		order: 6;
	}
}
@media (max-width: 920px) {
	.wikipedia {
		order: 5;
	}
	.weather {
		order: 1;
	}
	.map {
		order: 3;
	}
	.instagram {
		order: 4;
	}
	.cinema {
		order: 2;
	}
	.twitter {
		order: 6;
	}
}
@media (min-width: 920px) {
	.weather {
		grid-row-end: span 1;
	}

	.instagram {
		grid-row-end: span 2;
	}

	.twitter {
		grid-row-end: span 3;
	}

	.wikipedia {
		grid-row-end: span 3;
	}

	.map {
		grid-row-end: span 1;
	}

	.cinema {
		grid-row-end: span 1;
		grid-column-end: span 2;
	}
}

@media (min-width: 1500px) {
	.wikipedia {
		order: 1;
	}
	.twitter {
		order: 2;
	}
	.instagram {
		order: 3;
	}
	.map {
		order: 6;
	}
	.cinema {
		order: 5;
	}
	.weather {
		order: 4;
	}
}

/**
 * Weather
 */
.weather {
}
.weather > .module-content {
	height: 100%;
	overflow: hidden;

}
.weather-content {
	margin-bottom: 20px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	min-height: 100%;
}

.weather-actual {
	align-items: center;
	display: flex;
	text-align: left;
	font-size: 12pt;
}

.weather-image {
	padding: 5px;
}

.weather-actual > .weather-image {
	max-width: 100px;
}

.weather-actual .weather-temp {
	font-weight: bold;
}

.weather-forecasts {
	display: flex;
}

.weather-forecast {
	margin: 5px;
	color: #bdbdbd;
	text-align: center;
	font-size: 11pt;
}

.weather-forecast > .weather-image {
	max-width: 60px;
}


/**
 * Wikipedia
 */

.wikipedia-image {
	font-style: italic;
	font-size: 10pt;
}

.wikipedia-infos ul {
	list-style-type: none;
	padding: 0;
}

.wikipedia-infos-content {
	padding-left: 15px;
}

.wikipedia-infos-name {
	font-weight: bold;
}

.wikipedia-infos-name:first-letter{
	text-transform: capitalize
}


/**
 * Twitter
 */
.tweets {
	height: 100%;
	overflow: scroll;
	margin-bottom: 100px;
}
.twitter {
	background: linear-gradient(to bottom,
	   rgba(255, 255, 255, 0) 95%,
	   rgba(29, 161, 242,  0.2)
	);
}


.tweet {
	overflow-wrap: break-word;
	font-size: 11pt;
}

.tweet-header {
	display: flex;
	align-items: center;
}

.tweet-header-pic {
	margin-top: 5px;
	width: 55px;
}

.tweet-header-pic img {
	border-radius: 50%;
}

.tweet-header-info {
	padding-left: 5px;
	display: flex;
	flex-direction: column;
}

.tweet-header-info-name {
	font-weight: bold;
}

.tweet-header-info-more {
	color: gray;
}

.tweet-content {
	margin-left: 60px;
	text-decoration:none !important;
}

.tweet-sharing {
	display: flex;
	margin-left: 80px;
}

.tweet-retweets, .tweet-likes {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 0px 3px;
	color: #758491;
}

.tweet-retweets {
	background-image: url('../../assets/images/twitter/retweet.png');

}

.tweet-likes {
	background-image: url('../../assets/images/twitter/like.png');
}


/**
 * Map
 */
.map {
	height: 750px;
	background-color: yellow;
}
.map > .module-content {
	background-color: blue;
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 33px); /* rhaaa ....... */
	overflow: hidden;
}

.module-map {
	background-color: gray;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
