<div id="SimpleSmoothScroll"></div>
<div id='panelArea' class="panelArea" *ngIf="showPanel">
	<div id="title-area" [ngClass]="{'fixed': fixedBar}">
		{{cityName}}
	</div>
	<div id="module-area" [ngClass]="{'fixed': fixedBar}">
		<div class="module weather">
			<div class="module-title">Méteo</div>
			<div class="module-content">
				<div class="weather-content">
					<div class="weather-actual">
						<div class="weather-image">
							<img src='{{weather.actual?.image}}' alt='{{weather.actual?.desc}}'/>
						</div>
						<div>
							{{weather.actual?.temp}} °C
							<div class="weather-temp">{{weather.actual?.desc}}</div>
						</div>
					</div>
					<div class="weather-forecasts">
						<div class="weather-forecast" *ngFor="let forecast of weather.forecasts">
							<div class="weather-day">{{forecast?.date}}</div>
							<div class="weather-image">
								<img src='{{forecast?.image}}' alt='Prévision pour {{forecast?.date}}'/>
							</div>
							<div class="weather-temp">{{forecast?.temp}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="module instagram">
			<div class="module-title">Instagram</div>
			<div class="module-content">
			</div>
		</div>
		<div class="module twitter">
			<div class="module-title">Twitter</div>
			<div class="module-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius finibus velit, non eleifend enim venenatis quis. In vitae elementum enim, quis aliquam nisi. Donec et iaculis metus, non pulvinar elit. Aenean nisl sem, finibus ac lobortis at, dapibus tempor nisi. Donec quis eros purus. Integer vel lectus pellentesque, dictum ex nec, tristique tortor. Nunc eget ligula vel est congue dictum vestibulum non augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur et sapien sapien. Etiam malesuada elit vel nisl faucibus ullamcorper. Donec vitae elit in ante gravida tristique. Aliquam lobortis arcu sit amet tellus consectetur volutpat. Praesent elementum mauris eu lorem tincidunt, at mattis leo consectetur. Morbi sed convallis dui.
			</div>
		</div>
		<div class="module wikipedia">
			<div class="module-title">Informations</div>
			<div class="module-content">
				{{wikipedia.description}}
			</div>
		</div>
		<div class="module map">
			<div class="module-title">Carte</div>
			<div class="module-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius finibus velit, non eleifend enim venenatis quis. In vitae elementum enim, quis aliquam nisi. Donec et iaculis metus, non pulvinar elit. Aenean nisl sem, finibus ac lobortis at, dapibus tempor nisi. Donec quis eros purus. Integer vel lectus pellentesque, dictum ex nec, tristique tortor. Nunc eget ligula vel est congue dictum vestibulum non augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur et sapien sapien. Etiam malesuada elit vel nisl faucibus ullamcorper. Donec vitae elit in ante gravida tristique. Aliquam lobortis arcu sit amet tellus consectetur volutpat. Praesent elementum mauris eu lorem tincidunt, at mattis leo consectetur. Morbi sed convallis dui.
			</div>
		</div>
		<div class="module cinema">
			<div class="module-title">Cinéma</div>
			<div class="module-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius finibus velit, non eleifend enim venenatis quis. In vitae elementum enim, quis aliquam nisi. Donec et iaculis metus, non pulvinar elit. Aenean nisl sem, finibus ac lobortis at, dapibus tempor nisi. Donec quis eros purus. Integer vel lectus pellentesque, dictum ex nec, tristique tortor. Nunc eget ligula vel est congue dictum vestibulum non augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur et sapien sapien. Etiam malesuada elit vel nisl faucibus ullamcorper. Donec vitae elit in ante gravida tristique. Aliquam lobortis arcu sit amet tellus consectetur volutpat. Praesent elementum mauris eu lorem tincidunt, at mattis leo consectetur. Morbi sed convallis dui.
			</div>
		</div>
	</div>
</div>
